<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ValosModeler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<ValosModeler.Properties.Settings>
			<setting name="ServiceAddress" serializeAs="String">
				<value />
			</setting>
			<setting name="ServiceUsername" serializeAs="String">
				<value />
			</setting>
			<setting name="ServicePassword" serializeAs="String">
				<value />
			</setting>
			<setting name="ApplicationID" serializeAs="String">
				<value />
			</setting>
			<setting name="LastModelPath" serializeAs="String">
				<value />
			</setting>
			<setting name="OpenLastModel" serializeAs="String">
				<value>False</value>
			</setting>
		</ValosModeler.Properties.Settings>
	</userSettings>
</configuration>